.company {
  height: auto;
  
}

.text-center {
  margin-top: 100px;
  color: gray;
}

.card-partner {
  width: 300px;
  margin-top: 100px;
  border: none;
  height: 400px;

  .card-title {
    text-align: center;
  }
  .card-text {
    text-align: center;
  }
  .btn-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid gray;
    align-self: center;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 4%;
    font-size: 21px;
    color: gray;
    &:hover{
        background: rgba(128, 128, 128, 0.493);
        color: white;
    }
    
  
    
    
  }
  img {
    max-width: 100px;
    margin: auto;
  }
}
