.section {
  background-color: white;
}
.card_section {
  padding: 5px 10px 10px 10px;
  margin: 50px 30px 30px 30px;
  border: none;
  border-radius: none;
  font-family: Lato sans-serif 300;
  letter-spacing: 3px;
}
